/* Пример стилей */
body {
  font-family: "Rubik";
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #0b132a;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  width: 1440px;
}

button {
  width: 150px;
  height: 45px;
  border: 2px #f53838 solid;
  border-radius: 50px;
  background-color: #ffffff;
  font-weight: 700;
  text-align: center;
  color: #f53838;
}

li {
  list-style-type: none;
}

.wrapper {
  width: 1140px;
}

.header {
  margin-top: 45px;
  margin-bottom: 87.49px;
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  width: 150px;
  height: 36.23px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon img {
  width: 35px;
  height: 36.23px;
}
.icon__text {
  font-size: 20px;
  font-weight: 500;
}

.nav {
  width: 451px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #4f5665;
}

.auth {
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.auth button:first-child {
  border: none;
  color: #0b132a;
}

/*////////////////////////////////////////////////////////////////////////////*/

.intro {
  width: 1207px;
  margin-bottom: 108px;
  display: flex;
}

.intro__text {
  width: 50%;
  height: 100%;
  padding: 30px 0px 0px 0px;
}

.intro__text p {
  margin-top: 0px;
}

.intro__text p:nth-child(1) {
  font-family: "Rubik";
  font-size: 50px;
  font-weight: 500;
  line-height: 70px;
  margin-bottom: 17px;
}

.intro__text p:nth-child(2) {
  font-family: "Rubik";
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 51px;
}

.intro button {
  width: 250px;
  height: 60px;
  background-color: #f53838;
  border: #f53838 none;
  border-radius: 10px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  box-shadow: 0px 5px 60px rgba(255, 60, 60, 0.35);
}

/*/ //////////////////////////////////////////////////////////*/

.about {
  width: 100%;
  height: 200px;
  display: flex;
  background: #ffffff;
  align-items: center;
  justify-content: space-around;
  border: #ffffff none;
  border-radius: 10px;
  box-shadow: 52px 52px 52px rgba(0, 0, 0, 0.06);
  margin-bottom: 90px;
}

.about__info {
  display: flex;
}

.about__info__text {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 35px;
}

.about__info__text h4 {
  font-family: "Rubik";
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  margin: 0;
}

.about__info__text p {
  font-family: "Rubik";
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
}

/*            Features            */

.features {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 414.71px;
  margin-bottom: 210px;
}

.features img {
  margin-left: 30px;
}

.features__text {
  padding: 108px 0px 0px 0px;
  height: 414.71px;
}

.features__text img {
  width: 24px;
  height: 24px;
}

.features__text p:nth-child(1) {
  font-size: 35px;
  font-weight: 500;
  line-height: 50px;
  margin: 0px 0px 20px 0px;
  padding: 0px 0px 0px 0px;
}

.features__text p:nth-child(2) {
  margin: 0px 0px 4px 0px;
  padding: 0px 0px 0px 0px;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #4f5665;
}

.features__list {
  margin: 0px 0px 0px 0px;
  padding: 13px 0px 0px 0px;
}

.features__list li {
  
  display: flex;
  align-items: center;
  margin-bottom: 11px;
}

.features__list li img {
  margin: 0px 0px 0px 0px;
}

.features__list li p {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: #4f5665;
}

.features__list li p {
  margin-left: 10px;
}

/* Pricing */

.pricing {
  text-align: center;
  margin-bottom: 150px;
}

.pricing h1 {
  font-family: "Rubik";
  font-size: 35px;
  font-weight: 500;
  line-height: 50px;
  color: #0b132a;
  margin: 0px 0px 18px 0px;
}

.pricing h2 {
  font-family: "Rubik";
  font-size: 18px;
  font-weight: 500;
  line-height: 50px;
  color: #0b132a;
  margin-bottom: 21px;
}

.pricing p {
  font-family: "Rubik";
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #4f5665;
  margin: 0px 0px 62px 0px;
}

.pricingCards {
  display: flex;
  justify-content: space-between;
  padding: 0px 25px;
}

.pricingCard {
  width: 326px;
  height: 680px;
  border-radius: 10px;
  border: 2px #dddddd solid;
  padding: 76px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pricingCard__descWrapper {
  display: flex;
  justify-content: center;
}

.pricingCard__desc {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.pricingCard__desc li {
  height: 30px;
  display: flex;
  margin-bottom: 10px;
}

.pricingCard__desc p {
  font-family: "Rubik";
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #4f5665;
  margin: 0px 0px 0px 20px;
}

.pricingCard__desc img {
  width: 24px;
  height: 24px;
}

.pricingCard__Bottom p {
  font-family: "Rubik";
  font-size: 25px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0px 0px 18px 0px;
  color: #0b132a;
}

.pricingCard__Bottom button {
  width: 177.88px;
  height: 45px;
  border: 2px #f53838 solid;
  border-radius: 50px;
  background-color: #ffffff;
  font-family: "Rubik";
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: center;
  color: #f53838;
  margin-bottom: 49px;
}

/* Networks */

.networks {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 84px;
}

.networks__text {
  margin-bottom: 155px;
}

.networks h1 {
  font-family: "Rubik";
  font-size: 35px;
  font-weight: 500;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: center;
  color: #0b132a;
  margin: 0px 0px 18px 0px;
}

.networks p {
  margin: 0px 0px 158px 0px;
  font-family: "Rubik";
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  color: #4f5665;
}

/*/ //////////////////////////////////////////////////////////////////////////*/

.rewiews {
  margin-bottom: 48px;
}

.rewiews h1 {
  font-family: "Rubik";
  font-size: 35px;
  font-weight: 500;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: center;
  color: #0b132a;
  margin-bottom: 20px;
}

.rewiews h2 {
  font-family: "Rubik";
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  color: #4f5665;
  margin-bottom: 60px;
}

.rewiews__card-slide {
  width: 1298px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.rewiew__card {
  width: 335px;
  height: 167px;
  border: 2px #f53838 solid;
  border-radius: 10px;
  padding: 30px 30px 30px 28px;
}

.rewiew__card_Top {
  display: flex;
  justify-content: space-between;
}

.rewiew__card_userInfo {
  display: flex;
  align-items: center;
  width: 212px;
  height: 50px;
}

.rewiew__card_userInfo img {
  width: 50px;
  height: 50px;
}

.userText {
  display: flex;
  height: 50px;
  margin: 0px 0px 0px 20px;
  flex-direction: column;
  justify-content: space-around;
}

.userName {
  font-family: "Rubik";
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  color: #0b132a;
  margin: 0;
}

.userLocation {
  font-family: "Rubik";
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  color: #4f5665;
  margin: 0;
}

.rating {
  display: flex;
  align-items: center;
}

.rewiew__card_Down_text {
  margin: 9px 0px 0px 0px;
  font-family: "Rubik";
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #0b132a;
}

.rewiews__pagination {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pagination__indicatorWrapper {
  width: 9.0277%;
  display: flex;
  justify-content: space-between;
}

.pagination__indicator {
  width: 15px;
  height: 15px;
  background-color: #dde0e4;
  border-radius: 7.5px;
}

.rewiews__pagination__arrows {
  width: 140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rewiews__pagination__arrows div:nth-child(2) {
  background-color: #f53838;
}

.rewiews__pagination__arrow {
  width: 60px;
  height: 60px;
  background-color: #ffffff;
  border: 2px #f53838 solid;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Subscribe*/

.subscribe {
  height: 233px;
  padding: 14px 70px 0px 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  background-color: #ffffff;
}

.subscribe__text {
  width: 410px;
}

.subscribe__text h1 {
  width: 360px;
  font-size: 35px;
  font-weight: 500;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0px 0px 8px 0px;
}

.subscribe__text p {
  margin: 0;
  width: 410px;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #4f5665;
}

.subscribe__button {
  width: 250px;
  height: 60px;
  background-color: #f53838;
  border: #f53838 none;
  border-radius: 10px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  box-shadow: 0px 5px 60px rgba(255, 60, 60, 0.35);
}

/*/ //////////////////////////////////////////////////////////////////////////*/

footer {
  width: 100%;
  padding: 60px 0px 50px 0px;
  background-color: #f8f8f8;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__contacts {
  width: 340px;
  height: 280px;
}

.footer__navWrapper {
  width: 50%;
  height: 280px;
  display: flex;
  justify-content: space-between;
  padding: 8px 0px 0px 0px;
}

.footer__contacts p{
  color: #4f5665;
  line-height: 30px;
  margin: 20px 0px 24px 0px;
}


.social_networks {
  
  width: 320px;
  height: 33.6px;
  margin-bottom: 18px;
}


.footer__nav {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.footer__nav h2 {
  margin: 0px 0px 24px 0px;
  padding: 0px 0px 0px 0px;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}
.footer__nav ul {
  margin: 0;
  padding: 0;
}

.footer__nav li {
  color: #4f5665;
  margin-bottom: 21.5px;
}

.auth {
  display: flex;
}
/* Дополнительные стили */
